<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
</head>

<body>
  <h1><%= title %></h1>
  <p>Welcome to
    <%= title %>
  </p>
  <form id='formFileList'>
    <h3>
      <label for='textFileList'>file list</label>
    </h3>
    <input type='submit' value='refresh (filelist)' />
  </form>
  <p id="fileList"></p>
  <div id="fileTile" style="width:100%"></div>
  <form id='formReadJson'>
    <h3>
      <label for='textReadJson'>input filename to be read on server</label>
    </h3>
    <input id='textReadJson' type='text' name='textReadJson' />
    <input type='submit' value='read remote file' />
  </form>
  <form id='formWriteJson'>
    <p id="jsonName"></p>
    <p id="jsonList"></p>
    <!-- <input id='textWriteJson' type='text' name='textWriteJson' /> -->
    <h3>
      <label for='textWriteJson'>write on server</label>
    </h3>
    <input type='submit' value='write remote file' />
  </form>

  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
  <script type="text/javascript" src="javascripts/fileHandleRequest.js"></script>
</body>

</html>