<!DOCTYPE HTML>
<!--
  Editorial by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)

  Editted by TadaMatz
-->
<html>

<head>
  <title>
    <%= title %>
  </title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
  <link rel="stylesheet" href="assets/css/main.css" />
  <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
  <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>

<body>
  <!-- Wrapper -->
  <div id="wrapper">
    <!-- Main -->
    <div id="main">
      <div class="inner">
        <!-- Header -->
        <header id="header">
          <a href="/" class="logo"><strong>GCTC GUI</strong> by Westlab, Keio University</a>
          <ul class="icons">
            <li>
              <a class="icon alt fa-home" href="http://www.west.sd.keio.ac.jp/~matz/">
            <span class="label">
              Westlab My Page
            </span>
            </a>
            </li>
            <li>
              <a class="icon alt fa-github" href="https://github.com/matzTada">
            <span class="label">
              GitHub
            </span>
            </a>
            </li>
            <li>
              <a class="icon alt fa-github" href="https://matztada.github.io">
            <span class="label">
              GitHub.io
            </span>
            </a>
            </li>
            <li>
              <a class="icon alt fa-youtube" href="https://www.youtube.com/channel/UCI6c0zrF9czew6nIJQPwNCw">
            <span class="label">
              Youtube
            </span>
            </a>
            </li>
          </ul>
        </header>
        <!-- Content -->
        <section>
          <header class="main">
            <h1><%= title %></h1>
          </header>
          <!-- Content -->
          <p>(re)write JSON file from web browser.</p>

          <form id='formFileList'>
            <h2>
              <label for='textFileList'>file list</label>
            </h2>
            <input type='submit' value='refresh (filelist)' />
          </form>
          <p id="fileList"></p>
          <form id='formReadJson'>
            <h2>
              <label for='textReadJson'>input filename to be read on server</label>
            </h2>
            <input id='textReadJson' type='text' name='textReadJson' />
            <input type='submit' value='read remote file' />
          </form>
          <form id='formWriteJson'>
            <p id="jsonName"></p>
            <p id="jsonList"></p>
            <!-- <input id='textWriteJson' type='text' name='textWriteJson' /> -->
            <h2>
              <label for='textWriteJson'>write on server</label>
            </h2>
            <input type='submit' value='write remote file' />
          </form>
        </section>
      </div>
    </div>
    <!-- Sidebar -->
    <div id="sidebar">
      <div class="inner">
        <!-- Search -->
        <!--         <section id="search" class="alt">
          <form method="post" action="#">
            <input type="text" name="query" id="query" placeholder="Search" />
          </form>
        </section> -->
        <!-- Menu -->
        <nav id="menu">
          <header class="major">
            <h2>Menu</h2>
          </header>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="http://www.west.sd.keio.ac.jp/~matz/">Westlab My Page</a></li>            
            <li><a href="https://github.com/matzTada">GitHub</a></li>
            <li><a href="https://matztada.github.io/">GitHub.io</a></li>
            <li><a href="https://www.youtube.com/channel/UCI6c0zrF9czew6nIJQPwNCw">YouTube</a></li>
          </ul>
        </nav>
        <!-- Section -->
        <section>
          <header class="major">
            <h2>Get in touch</h2>
          </header>
          <p>I am Tada Matz from Westlab, Keio university, Japan</p>
          <ul class="contact">
<!--             <li class="fa-envelope-o"><a href="#">information@untitled.tld</a></li>
            <li class="fa-phone">(000) 000-0000</li>
            <li class="fa-home">1234 Somewhere Road #8254 <br /> Nashville, TN 00000-0000</li> -->
            <li class="icon fa-home" href="http://www.west.sd.keio.ac.jp/~matz/">Westlab My Page</li>
            <li class="icon fa-github" href="https://github.com/matzTada">GitHub</li>
            <li class="icon fa-github" href="https://matztada.github.io">GitHub.io</li>
            <li class="icon fa-youtube" href="https://www.youtube.com/channel/UCI6c0zrF9czew6nIJQPwNCw">YouTube</li>
          </ul>
        </section>
        <!-- Footer -->
        <footer id="footer">
          <p class="copyright">&copy; GCTC GUI by Tada Matz in Westlab. All rights reserved. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
        </footer>
      </div>
    </div>
  </div>
  <!-- Scripts -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/skel.min.js"></script>
  <script src="assets/js/util.js"></script>
  <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
  <script src="assets/js/main.js"></script>
  <!-- for logic -->
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
  <script type="text/javascript" src="javascripts/fileHandleRequest.js"></script>
</body>

</html>